$color-primary: #2a2d36;
$color-secounday: #8b8f9a;
$color-tertriary: #e88201;

//Text colors
$text-primary: #ffffff;
$text-secondary: #9ea3b4;

//Background colors
$bg-primary: $color-primary;
$bg-secondary: $color-secounday;
$bg-header: #0b0c10;
$bg-footer: #15161a;
$bg-tertiary: #ffffff;

//Border colors
$border-color-primary: #ffffff;

//Fonts
$font-family: "OpenSans", "Roboto", sans-serif;

//Breakpoints
$tablet-landscape: 960px;
$desktop: 1200px;
