//Text colors
$text-primary: #ffffff;
$text-secondary: #9ea3b4;

//Background colors
$bg-primary: #2a2d36;
$bg-secondary: #0b0c10;
$bg-tertiary: #ffffff;

//Border colors
$border-color-primary: #ffffff;

//Fonts
$font-family: "OpenSans", "Roboto", sans-serif;
