@use "../utils/variables" as *;
@use "../utils/mixins" as *;

body {
  font-family: $font-family;
  color: $text-primary;
  * {
    font-family: $font-family;
  }
}

h1 {
  font-size: 2rem;

  @include tablet-landscape-up {
    font-size: 3rem;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;

  @include tablet-landscape-up {
    font-size: 1.35rem;
  }
}

p {
  letter-spacing: 0.025rem;
}

strong {
  font-weight: 600;
}
