@use "../utils/variables" as *;

body {
  font-family: $font-family;
  color: $text-primary;
  * {
    font-family: $font-family;
  }
}

h1 {
  font-size: 2rem;
}

p {
  letter-spacing: 0.025rem;
}

strong {
  font-weight: 600;
}

.title {
  position: relative;
  &--underline {
    $underline-gap: 15px;
    padding: $underline-gap 0;
    &::after {
      content: "";
      display: block;
      position: relative;
      bottom: -$underline-gap;
      left: 50%;
      transform: translateX(-50%);

      height: 1px;
      width: 75%;

      background-color: $border-color-primary;
    }
  }

  &--lines {
    padding: 0 5px;
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      display: block;
      height: 1px;
      width: 50px;
      background-color: $color-primary;
    }

    &::after {
      left: 100%;
    }

    &::before {
      right: 100%;
    }
  }
}
